.navbar-custom {
    font-size: 1.2rem;
}

.verticalline{
    border-left: 2px solid #008494;
    display: inline-block;
    height: 50px;
    margin: 0 20px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.content {
    min-height: calc(100% - 80px);
}
footer {
    background-color: #343a40;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
}

@media screen and (max-width: 991px){
    
    .verticalline{
        display : none;
      }
    
    .navdroite{
        margin-bottom: 10px;
    }
    
    .usericon{
        display : none;
    }
    }